.section-container {
    width: 65%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 35px;
}

h1 {
    display: inline-block;
}

h1:hover {
    cursor: pointer;
    color: #55c0f2;
}

.all-results-section {
    width: 90%;
    height: auto;

    margin: 15px auto;
    padding: 35px;

    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #fff;
    transition: all 1s ease forwards;
}

.all-results-section .card {
    background-color: #fff;

    width: 95%;
    height: auto;
    min-height: 125px;

    padding-left: 22px;
    margin: 0 auto;
}

.all-results-section .card:hover {
    padding: 15px;
    border-radius: 15px;
    height: auto;
    min-height: 150px;
    box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    cursor: pointer;
}

.pagination-section {
    height: 44px;
    width: 65%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.pagination-section .pagination a {
    margin: 5px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.pagination-section .pagination a.active {
    color: #005ce6;
}

.pagination-section .pagination a:hover {
    color: #55c0f2;
}