body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background-image: radial-gradient(circle, #55c0f2, #0077c2);
  overflow: hidden;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}

.container {
  width: 80%;

  padding: 50px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #0066cc;
  font-size: 36px;
}

.header .catchy-phrase {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #444;
}


.search-form input[type="text"] {
  width: 55%;
  height: 45px;
  border: none;
  border-radius: 4px;
  background: #f1f1f1;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 300;
  color: #555;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s ease;
}

.search-form input[type="text"]:focus {
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #fff;
  color: #333;
}

.search-form form {
  margin: 20px;
}

.search-form button[type=submit] {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 100px;
  background-color: #0066cc;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 20px;
}

.search-form button[type=submit]:hover {
  background-color: #004c99;
}

.search-form button[type=submit]:active {
  background-color: #005ce6;
}