<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Loading...</title>
    <link rel="stylesheet" href="loading.css" />
  </head>
  <body>
    <h1>
      Loading<span class="dot dot-1">. </span><span class="dot dot-2">. </span
      ><span class="dot dot-3">. </span>
    </h1>
    <div class="center">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </body>
</html>
