<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="components/home/home.css" />
  </head>
  <body>
    <div class="page-content" id="home">
      <h1>Wiki Administrator</h1>
      <div class="cards">
        <div class="card">
          <div class="header">
            <i class="fas fa-file-alt"></i>
          </div>
          <div class="card-content">
            The Source tab is where you can manage data in the Wikibase. You can
            inject new data or update existing data to the Wikibase.
          </div>
          <div class="see-more">
            <button onclick="changePage(this)" id="source-btn">See more</button>
          </div>
        </div>

        <div class="card">
          <div class="header">
            <i class="fas fa-network-wired"></i>
          </div>
          <div class="card-content">
            The Property tab is where you can view and manage the properties of
            the items in the Wikibase. You can add new properties, edit existing
            ones, and more.
          </div>
          <div class="see-more">
            <button onclick="changePage(this)" id="property-btn">
              See more
            </button>
          </div>
        </div>

        <div class="card">
          <div class="header">
            <i class="fas fa-cog"></i>
          </div>
          <div class="card-content">
            The Settings tab is where you can customize the behavior of the app.
            You can change various settings such as the language, theme, and
            more.
          </div>
          <div class="see-more">
            <button onclick="changePage(this)" id="settings-btn">
              See more
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
