<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="components/property/property.css" />
  </head>
  <body>
    <div class="page-content" id="property">
      <h1>Property</h1>
      <div class="property-list">
        <ul id="property-names">
          <!-- Property names will be added dynamically -->
        </ul>
        <div id="property-details">
          <h2 id="property-title" contentEditable></h2>
          <p id="property-description" contentEditable></p>
          <p id="property-type"></p>
        </div>        
      </div>
    </div>
  </body>
</html>
