<!DOCTYPE html>
<html>
  <head>
    <title>WikiStone</title>
    <!-- <link rel="stylesheet" href="../static/css/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <section class="search-section">
      <div class="container">
        <div class="header">
          <h1>WikiStone</h1>
          <p class="catchy-phrase">Discover the world's cultural treasures</p>
        </div>
        <div class="search-form">
          <form method="POST" action="/search">
          <input
            type="text"
            name="query"
            placeholder="Search for monuments and sites of culture"
          />
          <button type="submit">Search</button>
        </div>
      </form>
      </div>
    </section>
    <section class="result-section">
      {% if not data.items() %}
      <h2 class="no-result">No data found.</h2>
      {% endif %}
      {% for key, value in data.items() %}
      <div class="card animation-start">
        <h2>{{ key }}</h2>
        <p>{{ value['description'] }}</p>
      </div>
      {% endfor %}
      {% if see_more %}
        <button class="see-more">See More</button>
      {% endif %}
      <section>
  </body>
    <script type="text/javascript" href="{{ url_for('static', filename='js/cards-animation.js') }}"> </script>
</html>

