<!DOCTYPE html>
<html>
  <head>
    <title>WikiStone</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/map.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/search-results.css') }}"
    />
    <script src="https://api.mqcdn.com/sdk/place-search-js/v1.0.0/place-search.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://api.mqcdn.com/sdk/place-search-js/v1.0.0/place-search.css"
    />
  </head>
  <body>
    <section class="search-section">
      <div class="section-container">
        <h1 onclick="window.location.href='/'">WikiStone</h1>
        <hr />
        <div class="search-config">
          <label for="radius-slider">Search radius</label>
          <input
            type="range"
            class="custom-range"
            id="radius-slider"
            min="1000"
            max="200000"
            step="100"
            value="5000"
          />
          <span id="radius-value">5.0 km</span>
          <div class="checkbox-container">
            <input
              type="checkbox"
              id="displayLocation"
              name="Display everything"
              value="Display everything"
            />
            <label for="displayLocation">Display everything</label>
            <span class="checkbox-message">Check to display all locations</span>
          </div>
          <div class="number-result">
            <span id="number-results" class="number">Results</span>
          </div>
        </div>
      </div>
    </section>
    <div id="map-container">
      <div id="map">
        <div id="change-position-btn" class="btn">Change Position</div>
        <div id="search-container" class="search-container">
          <input type="search" id="search-input" placeholder="Start Searching..." />
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/map/map.js') }}"
    ></script>
  </body>
</html>
