<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="components/source/source.css" />
  </head>
  <body>
    <div class="page-content" id="source">
      <h1>Contenu de l'onglet Source</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nam
        incidunt ut maxime laudantium earum quia architecto deleniti laborum
        dolorum quasi harum eum velit impedit consequuntur, possimus blanditiis
        adipisci quam!
      </p>
    </div>
  </body>
</html>
